
@charset "UTF-8";

/*
:root {
    --blue: #3DADFE;
    --pink: #F628C6;
    --green: #47E380;
    --white-rgb: 255, 255, 255;
    --black-rgb: 0, 0, 0;
    --body-bg-rgb: 255, 255, 255;
    --body-font-family: 'Karla', sans-serif;
    --body-font-size: 1rem;
    --body-font-weight: 400;
    --body-font-line-height: 1.5;
    
}
*/


/*
#content_l_1 {
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    border-color: black;
    padding: 0px;
    transition: opacity 0.8s;
    -webkit-transition: opacity 0.8s;
}
*/


.row-content {
    padding-bottom: 100px;
}



#content_r_1 {
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    border-color: black;
    padding: 0px;
    transition: opacity 0.8s;
    -webkit-transition: opacity 0.8s;
}

/*
#content_l_2 {
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    border-color: black;
    padding: 0px;
    transition: opacity 0.8s;
    -webkit-transition: opacity 0.8s;
}
*/

#content_r_2 {
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    border-color: black;
    padding: 0px;
    transition: opacity 0.8s;
    -webkit-transition: opacity 0.8s;
}

/*
#content_l_3 {
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    border-color: black;
    padding: 0px;
    transition: opacity 0.8s;
    -webkit-transition: opacity 0.8s;
}
*/

#content_r_3 {
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    border-color: black;
    padding: 0px;
    transition: opacity 0.8s;
    -webkit-transition: opacity 0.8s;
}

/*
#content_l_4 {
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    border-color: black;
    padding: 0px;
    transition: opacity 0.8s;
    -webkit-transition: opacity 0.8s;
}
*/

#content_r_4 {
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    border-color: black;
    padding: 0px;
    transition: opacity 0.8s;
    -webkit-transition: opacity 0.8s;
}



#content_r_5 {
    position:  -webkit-sticky;
    position: sticky;
    top: -1px;
    border-color: black;
    padding: 0px;
    transition: opacity 0.8s;
    -webkit-transition: opacity 0.8s;
}

#content_l_6 {
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    border-color: black;
    padding: 0px;
    transition: opacity 0.8s;
    -webkit-transition: opacity 0.8s;
}

#content_r_6 {
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    border-color: black;
    padding: 0px;
    transition: opacity 0.8s;
    -webkit-transition: opacity 0.8s;
}

#content_r_7 {
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    border-color: black;
    padding: 0px;
    transition: opacity 0.8s;
    -webkit-transition: opacity 0.8s;
}

#content_l_8 {
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    border-color: black;
    padding: 0px;
    transition: opacity 0.8s;
    -webkit-transition: opacity 0.8s;
}

#content_r_8 {
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    border-color: black;
    padding: 0px;
    transition: opacity 0.8s;
    -webkit-transition: opacity 0.8s;
}


#content_r_9 {
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    border-color: black;
    padding: 0px;
    transition: opacity 0.8s;
    -webkit-transition: opacity 0.8s;
}

#content_r_10 {
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    border-color: black;
    padding: 0px;
    transition: opacity 0.8s;
    -webkit-transition: opacity 0.8s;
}


#content_contact_l_1 {
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    border-color: black;
    padding: 0px;
    transition: opacity 0.8s;
    -webkit-transition: opacity 0.8s;
}


#content_about_l_1 {
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    border-color: black;
    padding: 0px;
    transition: opacity 0.8s;
    -webkit-transition: opacity 0.8s;
}


.text1opacity, .text2opacity {
    font-size:1rem;
    fill:blue;
    opacity:0;
    transition: opacity 0.8s;
    -webkit-transition: opacity 0.8s;
}

.text3opacity {
    font-size:1rem;
    fill:blue;
    opacity:0;
    transition: opacity 0.8s;
    color: blue;
    -webkit-transition: opacity 0.8s;
}

/*//svg styling*/

.svg_container-totalmigrant{
    min-height: 40rem;
    min-width: 70rem;
    display: inline-block;
    position:relative;
    top:0;
    left:0;
}
.svg_container-totalmigrant svg{
    overflow: visible;
}
#clip{
    display: inline-block;
    position:relative;
    top:10%;
    left:10%;
    width:50%;
    height:50%;    
  
}

.active {
    opacity:1;
}

.deactive {
    opacity:0;
}



body {
    padding: 0;
    margin: 0;
    font-family: 'Karla', sans-serif; 
    
/*
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
*/
}



.navbar-projectname {
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 120%;
}

defaultDropdown {
    
}


h1 {
    font-weight: bold;
    font-size: 1.8rem;
    
}

h2 {
    font-weight: bold;
    font-size: 3rem;
}





hr1, hr1b, hr1p, hr1g {
    font-size:3.3rem;
    font-weight: 700;
    text-align: start;
    line-height: 100%;
    
}

hr1 {
    color: black
}

hr1b {
    color: #3DADFE;
}

hr1p {
    color: #F628C6;
}

hr1g {
    color: #47E380;
}

p {
    font-size:1.35rem;
    font-weight: 500;
}



a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color:black;
}

a:hover {
    color: black;
    text-decoration: none;
}

a.active {
    color: black;
}



.navbar-right {
    float: right;
}


.row-content-text {
    background-color: white;
    height: 400px;
}

.row-content-viz {
    height: 400px;
}



.vertical-flip {
          -moz-transform: scale(1, -1);
          -webkit-transform: scale(1, -1);
          -o-transform: scale(1, -1);
          -ms-transform: scale(1, -1);
          transform: scale(1, -1);
        }


.horizontal-flip {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}


.rotate-90 {
    transform: rotate(90deg)
}